{{#if inputIsActive}}
	{{sl-focus-input class="sl-button-input__input" value=value focus-out="toggleInput"}}
{{else}}
	<button class="sl-button-input__button" {{action "toggleInput"}}>
		{{value}}
	</button>
{{/if}}