button
	border none
	cursor pointer
	
.range-button
	float left
	
.sl-button-input__input,
.sl-button-input__button
	width 50px
	
.sl-button-input__input:focus,
.sl-button-input__input:active
	border none
	outline none